/* summary
header background:rgb(0, 0, 0)
header text:rgb(254, 254, 254)
header nav text:rgb(204, 204, 204)
header nav open text:rgb(2, 2, 2)

main background:rgb(41, 41, 41)
main highlight:rgb(91, 91, 91)

*/
/* header */
.dark-header {
    color: rgb(254, 254, 254);
    background-color: rgb(0, 0, 0);
    border: none !important;
}

.dark-header > div > ul > li > a {
    color: rgb(204, 204, 204) !important;
}

.dark-header .open a {
    color: rgb(2, 2, 2) !important;
}

/* backgrounds */
.dark-body {
    background-color: rgb(41, 41, 41);
}
.dark-body .panel {
    background-color: rgb(41, 41, 41);
}
.dark-body tbody {
    background-color: rgb(41, 41, 41);
}
.dark-body .well {
    background-color: rgb(41, 41, 41);
}
.dark-body #dropdown {
    background-color: rgb(41, 41, 41);
}
.dark-body .dropdown.open .dropdown-toggle {
    background-color: rgb(91, 91, 91) !important;
}
/* table rows */
.dark-body .table td {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(1, 1, 1) !important;
}
.dark-body .table th {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(1, 1, 1) !important;
}
.dark-body .table tr {
    background-color: rgb(41, 41, 41) !important;
}
.dark-body .table tr:hover {
    background-color: rgb(65, 65, 65) !important;
}
.dark-body .table tr:hover td {
    color: rgb(255, 255, 255) !important;
}
.dark-body .table tr a {
    color: rgb(122, 173, 250) !important;
}
.dark-body .table tr:hover td a {
    color: rgb(2, 2, 2) !important;
}
.dark-body .table tr td .alert-success {
    background-color: rgb(0, 92, 14) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .table tr td .alert-warning-high {
    background-color: rgba(255, 255, 0, 0.619) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .table tr td .alert-danger {
    background-color: rgb(96, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

/* elevated rows */
.dark-body .danger td {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(92, 25, 25) !important;
}
.dark-body .danger:hover td {
    background-color: rgb(119, 34, 34) !important;
}
.dark-body .danger td a {
    color: rgb(122, 173, 250) !important;
}
.dark-body .danger:hover td a {
    color: rgb(2, 2, 2) !important;
}
.dark-body .danger td .alert-success {
    background-color: rgb(0, 92, 14) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .danger td .alert-warning-high {
    background-color: rgba(255, 255, 0, 0.619) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .danger td .alert-danger {
    background-color: rgb(96, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

/* bootstrap defaults */
.dark-body .label-success {
    background-color: rgb(0, 92, 14) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .label-warning-high {
    background-color: rgba(255, 255, 0, 0.619) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .label-danger {
    background-color: rgb(96, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .label-default {
    background-color: rgb(77, 77, 77) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body label {
    color: rgb(255, 255, 255) !important;
}
.dark-body .nav-tabs a {
    background-color: rgb(77, 77, 77) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .nav-tabs a:hover {
    background-color: rgb(77, 77, 77) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .documentation,
.doc #layout_documentation * {
    color: rgb(255, 255, 255) !important;
}
.dark-body h5,
h4,
h3,
h2,
h1,
p,
li {
    color: rgb(255, 255, 255) !important;
}

/* donuts */
.dark-body .robot-donut {
    background-color: #606060 !important;
}

.dark-body #robot-biller-name {
    color: rgb(255, 255, 255) !important;
}

/* buttons */
.dark-body .btn {
    background-color: rgb(62, 62, 62);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
}
.dark-body .btn.active {
    background-color: rgb(90, 90, 90);
}
.dark-body .btn:hover {
    background-color: rgb(90, 90, 90);
}
.dark-body #generate-password-reset-link {
    background-color: rgb(62, 62, 62);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
}

/* fonts */
body.dark-font,
.dark-font {
    font-family: 'Museo', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
}

/* holiday colours */
.christmas-even {
    background-color: green;
}

.christmas-odd {
    background-color: red;
}

.halloween-even {
    background-color: orange;
}

.halloween-odd {
    background-color: purple;
}
